@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
  }
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  background-color: #f0f0f0;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
